<?xml version="1.0" encoding="UTF-8"?>
<plugins>
  <pyqgis_plugin name="Asignacion SIG" version="4.0">
    <description>Plugin QGIS para gestionar permisos de usuarios en bases de datos PostgreSQL</description>
    <version>4.0</version>
    <qgis_minimum_version>3.0</qgis_minimum_version>
    <qgis_maximum_version>3.99</qgis_maximum_version>
    <homepage>https://github.com/LeonardoMartinez000/asignacion-sig-plugin</homepage>
    <file_name>asignacion-sig-plugin-4.0.zip</file_name>
    <icon>https://raw.githubusercontent.com/LeonardoMartinez000/asignacion-sig-plugin/main/asignacion_sig/icon.png</icon>
    <author_name>Servinformación</author_name>
    <download_url>https://github.com/LeonardoMartinez000/asignacion-sig-plugin/releases/download/v4.0/asignacion-sig-plugin-4.0.zip</download_url>
    <uploaded_by>tu-usuario</uploaded_by>
    <create_date>2026-03-16</create_date>
    <update_date>2026-03-16</update_date>
    <experimental>False</experimental>
    <deprecated>False</deprecated>
    <tracker>https://github.com/LeonardoMartinez000/asignacion-sig-plugin/issues</tracker>
    <repository>https://github.com/LeonardoMartinez000/asignacion-sig-plugin</repository>
    <tags>postgresql,permissions,database,qgis,users,grants,revoke</tags>
    <changelog>
      4.0 - Logging en base de datos 00_LogGestionUsuarios, interfaz mejorada, actualizaciones automáticas
      3.3 - Ajustes visuales fase 2, panel de resumen mejorado
      1.0.1 - Versión inicial
    </changelog>
  </pyqgis_plugin>
</plugins>
